In [1]:
#First Program
print('Hello Amit')

Hello Amit

In [2]:
#Program to find numbers from 2000 to 3200 which are divisible by 7 but not multiple of 5
numbers=[]
print('The numbers from 2000 to 3200 divisible by 7 but not multiple of 5 are : ')
for number in range(2000,3201):
    if number%7==0 and number%5!=0:
        #return number
        numbers.append(number)
print(numbers)

The numbers from 2000 to 3200 divisible by 7 but not multiple of 5 are :
[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [3]:
#Program to accept first and last name from user and print last name first and then first name seperated by space between last and first name
first_name=input('Enter your first name:')
first_name=first_name.title()
last_name=input('Enter your last name:')
last_name=last_name.title()
full_name=(last_name) +(' ')+ (first_name)
print(full_name)

Enter your first name:amit
Enter your last name:sangwan
Sangwan Amit

In [4]:
#Program to find the volume of a sphere with diameter of 12cm
diameter=12
radius=diameter/2
pi=3.14
volume=(4*pi*(radius**3))/3
print('The volume of sphere is:',volume)

The volume of sphere is: 904.32

In [5]:
#Program to accept word from user and reversing the word 
word=input('Enter the word which you want in reverse order:')
reverse_word=word[::-1]
print(reverse_word)

Enter the word which you want in reverse order:amit
tima

In [6]:
#Program to print * in a particular given pattern
for i in range(1,6):
    print('*'*i)
for i in range(4,0,-1):
    print('*'*i)

*
**
***
****
*****
****
***
**
*

In [7]:
#Program which accepts a sequence of comma seperated numbers from console and generate as list
l = [x for x in input('enter the values: ').split(',')]
print('the values stored in list are:',l)

enter the values: amit,sangwan,45
the values stored in list are: ['amit', 'sangwan', '45']

In [8]:
#Program which accepts a sequence of comma seperated numbers from console and generate as list
l=[]
for x in input('Enter your data seperated by comma : ').split(','):
    l.append(x)
print('your data in form of a list is: ',l)

Enter your data seperated by comma : amit,45,2.25
your data in form of a list is:  ['amit', '45', '2.25']

In [9]:
#Program to print paragraph as stated in source file.
a='WE, THE PEOPLE OF INDIA,'
b='having solemnly resolve to constitute india into a SOVEREGIAN,!'
b=b.center(75,' ')
c='SOCIALIST, SECULARIST, DEMOCRATIC REPUBLIC'
c=c.center(66,' ')
d='and to secure to all its citizens'
d=d.center(62,' ')
print(a)
print(b)
print(c)
print(d)

WE, THE PEOPLE OF INDIA,
      having solemnly resolve to constitute india into a SOVEREGIAN,!
            SOCIALIST, SECULARIST, DEMOCRATIC REPUBLIC
              and to secure to all its citizens